@model segundapractica.Models.UsuarioModel;

@{
    ViewData["Title"] = "Abrir Cuenta";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Abrir cuenta Bancaria en el Banco EE.UU.</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Registro" asp-action="Abrir" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Datos Personales</h4>
                        <div class="mb-3">
                            <label asp-for="NombreCompleto" class="form-label">Nombre Completo</label>
                            <input asp-for="NombreCompleto" type="text" class="form-control"
                                placeholder="Ingresa tu nombre completo" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ApellidoPaterno" class="form-label">Apellido Paterno</label>
                            <input asp-for="ApellidoPaterno" type="text" class="form-control"
                                placeholder="Ingresa tu apellido paterno" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ApellidoMaterno" class="form-label">Apellido Materno</label>
                            <input asp-for="ApellidoMaterno" type="text" class="form-control"
                                placeholder="Ingresa tu apellido materno" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TipoDocumento" class="form-label">Tipo de Documento</label>
                            <select asp-for="TipoDocumento" class="form-select" id="tipo_documento" required>
                                <option selected disabled value="">Selecciona el tipo de documento</option>
                                <option value="dni">DNI</option>
                                <option value="ruc">RUC</option>
                                <option value="pasaporte">Pasaporte</option>
                                <option value="carnet_extranjeria">Carnet de Extranjería</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label">Teléfono</label>
                            <input asp-for="Telefono" type="tel" class="form-control"
                                placeholder="Ingresa tu número de teléfono" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Genero" class="form-label">Tipo de Género</label>
                            <select asp-for="Genero" class="form-select" id="tipo_documento" required>
                                <option selected disabled value="">Selecciona el tipo de género</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Información para la Cuenta</h4>
                        <div class="mb-3">
                            <label asp-for="CorreoElectronico" class="form-label">Correo Electrónico</label>
                            <input asp-for="CorreoElectronico" type="email" class="form-control"
                                placeholder="Ingresa tu correo electrónico" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TipoCuenta" class="form-label">Tipo de Cuenta</label>
                            <select asp-for="TipoCuenta" class="form-select" id="tipo_cuenta" required>
                                <option selected disabled value="">Selecciona el tipo de cuenta</option>
                                <option value="personal">Cuenta Personal</option>
                                <option value="empresarial">Cuenta Empresarial</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Pais" class="form-label">Ingresa tu País</label>
                            <input asp-for="Pais" type="text" class="form-control"
                                placeholder="Ingresa tu país de nacimiento" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SaldoInicial" class="form-label">Ingresa tu Saldo Inicial</label>
                            <input asp-for="SaldoInicial" type="text" class="form-control" min="0"
                                placeholder="Ingresa tu Saldo inicial" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Ingresa tu contraseña" required>
                        </div>
                    </div>
                </div>

                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-primary w-100">Enviar Formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>